.welcome{
    font-size: 25px;
    font-weight: 100;
    background-color: rgba(224, 219, 219, 0.842);
    margin-left: 30%;
    padding-bottom: 2px;
    padding-top: 3px;
}

.logout-btn{
    float:right;
    margin-right: 30px;
    margin-top: -61px;
    font-size: 20px;
    color: rgb(251, 253, 251);
    font-weight: 400;
    background-color: rgb(64, 189, 247);
    padding: 10px;
    box-shadow: 5px 7px 8px 2px rgb(167, 165, 165);
}
.logout-btn:hover{
    /* color: hsl(0, 5%, 78%); */
    box-shadow: 5px 7px 8px 3px rgb(167, 165, 165);
    background-color: rgba(13, 156, 223, 0.863);
}

.left-div{
    background-color: rgb(58, 181, 238);
    margin-right: 70%;
    min-height: 637px;
    margin-top: -105px;
}
.left-div-h4-create{
    /* margin-top: 100px; */
    padding-top: 60px;
    color: white;
}
.left-div-h4-create:hover{
    color: rgb(214, 214, 214);
}
.left-div-h4-create-active{
    /* margin-top: 100px; */
    padding-top: 60px;
    color: rgb(255, 141, 47);
}

.left-div-h4{
    padding-top: 20px;
    color: white;
}
.left-div-h4:hover{
    color: rgb(214, 214, 214);
}

.left-div-h4-active{
    padding-top: 20px;
    color: rgb(255, 141, 47);
}
.left-div-h4-delete{
    padding-top: 20px;
    color: white;
    padding-bottom: 25px;
}
.left-div-h4-delete:hover{
    color: rgb(214, 214, 214);
}
.left-div-h4-delete-active{
    padding-top: 20px;
    color: rgb(255, 141, 47);
    padding-bottom: 25px;
}

.main-div{
    /* background-color: rgba(224, 219, 219, 0.842); */
    margin-left: 30%;
    margin-top: -550px;
    /* height: 535px; */
    min-height: 516px;
}

.main-div-h4{
    padding-top: 20px;
    font-size: 25px;
}

/* .root{
    margin-top: 10px;
} */