.Home-div{
    margin-top: 200px;
}

.Home-register{
    background-color: rgb(124, 226, 93);
    text-decoration: none;
    padding : 10px;
    margin-right: 1%;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px rgb(139, 138, 138);
    color: white;
}
.Home-register:hover{
    background-color: rgb(109, 223, 74);
    box-shadow: 10px 10px 10px 3px rgb(139, 138, 138);
}

.Home-login{
    margin-left: 1% ;
    padding:10px;
    background-color: rgb(124, 226, 93);
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px rgb(139, 138, 138);
    color:white;
}

.Home-login:hover{
    background-color: rgb(109, 223, 74);
    box-shadow: 10px 10px 10px 3px rgb(139, 138, 138);
}