.nav{
    background-color: rgba(0, 0, 0, 0.822);
    /* color:rgba(252, 246, 246, 0.979); */
    position:sticky;
    height: 40px;
    margin-top: 0px;
    /* overflow: hidden; */
    top:0;
    width: 100%;
}

.nav2{
    background-color:springgreen;
    position: sticky;
    padding: 0px;
    margin-top: 0px;
    height: 10px;
    overflow: hidden;
    top: 40px;
}

.link-div{
    /* text-align: right; */
    float: right;
    margin-top: 8px;
}

.link:hover{
    color: hsl(0, 5%, 78%);
    /* font-size: 2px; */
}

.link{
    color: rgb(253, 247, 247);
    /* float:right; */
    padding-right: 30px;
    /* padding-top: 0px; */
    font-size: 20px;
    text-decoration:wavy;
}


