
/* .divCard {
    color: black;
    float:left;
    justify-content: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
} */


.pagination {
    display:flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .pagination-button {
    color: black;
    float: left;
    padding: 8px 18px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(87, 87, 87);
    margin: 0 4px;
  }
  
  .pagination-button-active {
    color: rgb(253, 252, 252);
    background-color: chartreuse;
    float: left;
    padding: 8px 18px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(87, 87, 87);
    margin: 0 4px;
  }
  
  .pagination button:hover:not(.active) {background-color: #ddd;}